<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Cleaning</a></span></li><li><span><a href="#Examining-Data-for-Potential-Issues" data-toc-modified-id="Examining-Data-for-Potential-Issues-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Examining Data for Potential Issues</a></span></li><li><span><a href="#Missing-Values" data-toc-modified-id="Missing-Values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Missing Values</a></span><ul class="toc-item"><li><span><a href="#Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values" data-toc-modified-id="Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Show the number of null values only of the columns that actually have null values</a></span></li><li><span><a href="#Remove-the-columns-that-have-more-than-10,000-null-values-in-them" data-toc-modified-id="Remove-the-columns-that-have-more-than-10,000-null-values-in-them-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Remove the columns that have more than 10,000 null values in them</a></span></li><li><span><a href="#Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null." data-toc-modified-id="Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null.-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Create a new dataframe that shows only the row where <code>displ</code> is null.</a></span></li><li><span><a href="#Fill-nan-values-with-the-most-appropriate-technique" data-toc-modified-id="Fill-nan-values-with-the-most-appropriate-technique-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Fill nan values with the most appropriate technique</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Incorrect-Values" data-toc-modified-id="Incorrect-Values-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Incorrect Values</a></span><ul class="toc-item"><li><span><a href="#Check-similar-rows" data-toc-modified-id="Check-similar-rows-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Check similar rows</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Low-Variance-Columns" data-toc-modified-id="Low-Variance-Columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Low Variance Columns</a></span><ul class="toc-item"><li><span><a href="#Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame." data-toc-modified-id="Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame.-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.</a></span></li></ul></li><li><span><a href="#Extreme-Values-and-Outliers" data-toc-modified-id="Extreme-Values-and-Outliers-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Extreme Values and Outliers</a></span></li><li><span><a href="#Data-Type-Correction" data-toc-modified-id="Data-Type-Correction-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Data Type Correction</a></span><ul class="toc-item"><li><span><a href="#Check-the-data-type-of-each-column" data-toc-modified-id="Check-the-data-type-of-each-column-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Check the data type of each column</a></span></li><li><span><a href="#Cleaning-years" data-toc-modified-id="Cleaning-years-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Cleaning years</a></span></li></ul></li><li><span><a href="#Cleaning-Text-and-Removing-Special-Characters" data-toc-modified-id="Cleaning-Text-and-Removing-Special-Characters-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Cleaning Text and Removing Special Characters</a></span></li><li><span><a href="#Finding-and-Removing-Duplicates" data-toc-modified-id="Finding-and-Removing-Duplicates-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Finding and Removing Duplicates</a></span><ul class="toc-item"><li><span><a href="#Drop-duplicate-rows-that-are-completely-equal" data-toc-modified-id="Drop-duplicate-rows-that-are-completely-equal-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Drop duplicate rows that are completely equal</a></span></li><li><span><a href="#Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns." data-toc-modified-id="Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns.-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.</a></span></li></ul></li><li><span><a href="#Export-clean-dataset" data-toc-modified-id="Export-clean-dataset-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Export clean dataset</a></span></li></ul></div>

# Data Cleaning


Lab Goals

+ Examine data for potential issues.
+ Identify and fill in missing values.
+ Identify and correct incorrect values.
+ Remove low variance columns.
+ Identify potential outliers.
+ Correct incorrect data types.
+ Remove special characters and clean categorical variables.
+ Identify and remove duplicate records.

Introduction

When working with data sets, you will find that they often require a bit of cleaning. Whether Pandas originally read the data types incorrectly, records are duplicated, the data contains special characters or missing value, or there are slightly different references to the same entity, every data analyst must know how to clean the data they are working with before analyzing it. In this lesson, you will learn about some of the most common problems that make data messy and methods for correcting those problems and cleaning your data.

The data set we are going to be using for this lesson is a messy version of the vehicles data set we worked with in the previous lesson. Let's import this version of our data set so that we can then practice cleaning it up.

In [139]:
import pandas as pd
import numpy as np

In [140]:
#Load data from vehicles_messy.csv

data = pd.read_csv('../data/vehicles_messy.csv')

/Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Examining Data for Potential Issues

One of the first things we want to do is examine the data and look for any **potential issues**. Some of the things we are interested in identifying in the data at this stage include:

- Missing values
- Special characters
- Incorrect values
- Extreme values or outliers
- Duplicate records
- Incorrect data types

The presence of these may cause problems when it's time to analyze the data, so we want to make sure we address them beforehand. We can start by visually inspecting the data using the `.head` method, which will show us the first 5 rows of data.

In [141]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

But how big actually is our dataframe??? Check it with `.shape` method

In [142]:
data.shape

(37843, 83)

Let's dive a little more in the content of our data set. Is there any method that shows us the **column names**, its **data types** and number of **non-null values**?

In [143]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge120        37843 non-null  float64
 3   charge240        37843 non-null  float64
 4   city08           37843 non-null  int64
 5   city08U          37843 non-null  float64
 6   cityA08          37843 non-null  int64
 7   cityA08U         37843 non-null  float64
 8   cityCD           37843 non-null  float64
 9   cityE            37843 non-null  float64
 10  cityUF           37843 non-null  float64
 11  co2              37843 non-null  int64
 12  co2A             37843 non-null  int64
 13  co2TailpipeAGpm  37843 non-null  float64
 14  co2TailpipeGpm   37843 non-null  float64
 15  comb08           37843 non-null  int64
 16  comb08U          37843 non-null  float64
 17  combA08          37843 non-null  int64
 18  combA08U         37843 non-null  float64
 19  combE            37843 non-null  float64
 20  combinedCD       37843 non-null  float64
 21  combinedUF       37843 non-null  float64
 22  cylinders        37720 non-null  float64
 23  displ            37723 non-null  float64
 24  drive            36654 non-null  object
 25  engId            37843 non-null  int64
 26  eng_dscr         22440 non-null  object
 27  feScore          37843 non-null  int64
 28  fuelCost08       37843 non-null  int64
 29  fuelCostA08      37843 non-null  int64
 30  fuelType         37843 non-null  object
 31  fuelType1        37843 non-null  object
 32  ghgScore         37843 non-null  int64
 33  ghgScoreA        37843 non-null  int64
 34  highway08        37843 non-null  int64
 35  highway08U       37843 non-null  float64
 36  highwayA08       37843 non-null  int64
 37  highwayA08U      37843 non-null  float64
 38  highwayCD        37843 non-null  float64
 39  highwayE         37843 non-null  float64
 40  highwayUF        37843 non-null  float64
 41  hlv              37843 non-null  int64
 42  hpv              37843 non-null  int64
 43  id               37843 non-null  int64
 44  lv2              37843 non-null  int64
 45  lv4              37843 non-null  int64
 46  make             37843 non-null  object
 47  model            37843 non-null  object
 48  mpgData          37843 non-null  object
 49  phevBlended      37843 non-null  bool
 50  pv2              37843 non-null  int64
 51  pv4              37843 non-null  int64
 52  range            37843 non-null  int64
 53  rangeCity        37843 non-null  float64
 54  rangeCityA       37843 non-null  float64
 55  rangeHwy         37843 non-null  float64
 56  rangeHwyA        37843 non-null  float64
 57  trany            37832 non-null  object
 58  UCity            37843 non-null  float64
 59  UCityA           37843 non-null  float64
 60  UHighway         37843 non-null  float64
 61  UHighwayA        37843 non-null  float64
 62  VClass           37843 non-null  object
 63  year             37843 non-null  int64
 64  youSaveSpend     37843 non-null  int64
 65  guzzler          2281 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5186 non-null   object
 68  sCharger         666 non-null    object
 69  atvType          3072 non-null   object
 70  fuelType2        1408 non-null   object
 71  rangeA           1403 non-null   object
 72  evMotor          562 non-null    object
 73  mfrCode          7025 non-null   object
 74  c240Dscr         37 non-null     object
 75  charge240b       37843 non-null  float64
 76  c240bDscr        36 non-null     object
 77  createdOn        37843 non-null  object
 78  modifiedOn       37843 non-null  object
 79  startStop        6138 non-null   object
 80  phevCity         37843 non-null  int64
 81  phevHwy          37843 non-null  int64
 82  phevComb         37843 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 23.7+ MB

# Missing Values

From this initial view, we can see that our data set contains some columns that have missing values in them and others that seem to have a lot of zero values. 

Let's see how prevalent missing values are in our data. We can use the Pandas `.isnull()` method to check whether the value in each field is missing (*null*) and return either True or False for each field. 

We can use the `.sum()` method to total up the number of True values by column, and then we can add a condition using square brackets that will filter the data and show us only columns where the number of null values were greater than zero.

## Show the number of null values only of the columns that actually have null values

In [144]:
nan_cols=data.isna().sum()
nan_cols[nan_cols>0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

We can see that some columns have relatively few null values while others have tens of thousands of nulls. For fields that have a lot of null values, you will often have to make a judgement call. If you don't think the information is going to be very useful to your analysis, then you would remove those columns from your data frame.

## Remove the columns that have more than 10,000 null values in them

In Pandas, we can do that using the drop method. For our purposes, let's remove the columns that have more than 10,000 null values in them. We will add these column names to a list, and then we will pass those columns to the drop method and indicate that we want columns (not rows) dropped by setting the axis parameter to 1.

In [145]:
cols=nan_cols[nan_cols>10000]

In [146]:

data.drop(cols.index,axis=1,inplace=True)
nan_cols=data.isna().sum()
nan_cols[nan_cols>0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

This leaves us with just a handful of remaining columns that have null values. Of the columns that remain, it looks like the cylinders column and the displ column have a similar number of nulls. Perhaps they are missing for similar reasons. We can investigate this by subsetting the data set and looking at just the records where displ is null and just the columns we think will be informative in allowing us to determine a reason.

## Create a new dataframe that shows only the row where `displ` is null. 
Keep only the columns you think are useful

In [147]:
new_data=data.displ.isna().copy()
new_data=new_data[new_data==True]
new_data

7138     True
7139     True
8143     True
8144     True
8146     True
         ...
30969    True
30972    True
30973    True
30974    True
30975    True
Name: displ, Length: 120, dtype: bool

## Fill nan values with the most appropriate technique 
*HINT: Electric cars do not have cylinders and can therefore not have any displacement*

In [148]:
data.displ.fillna(0.0,inplace=True) #Rellenamos los nan con 0 ya que no tienen displacement

In [149]:
#Comprobamos que todos los Nan de la columna displ esten rellenados
new_data2=data.displ.isna().copy()  
new_data2=new_data2[new_data2==True]
new_data2

Series([], Name: displ, dtype: bool)

In [150]:
#Como la columna cylinders esta relacionada directamente al no haber cilindros, rellenamos tambien con 0
data.cylinders.fillna(0.0,inplace=True)

## Bonus: 
Now that we have filled in those null values, there are only two columns in the data set that still have null values: trany and drive. Use what you have learned in this section to investigate and potentially fill in the remaining null values.

In [154]:
data.drive.tail()

37838             Front-Wheel Drive
37839             Front-Wheel Drive
37840    4-Wheel or All-Wheel Drive
37841    4-Wheel or All-Wheel Drive
37842    4-Wheel or All-Wheel Drive
Name: drive, dtype: object

In [155]:
bad_index=data.drive[data.drive.isna()].index   

bad_index[:10]

Int64Index([7138, 8144, 8147, 18217, 18218, 18219, 18220, 18221, 18222, 18223], dtype='int64')

In [156]:
data.iloc[bad_index][['make', 'model', 'fuelType', 'drive']].head(10)

             make               model     fuelType drive
7138       Nissan            Altra EV  Electricity   NaN
8144         Ford               Th!nk  Electricity   NaN
8147       Nissan          Hyper-Mini  Electricity   NaN
18217  Alfa Romeo  Spider Veloce 2000      Regular   NaN
18218     Bertone                X1/9      Regular   NaN
18219   Chevrolet            Corvette      Regular   NaN
18220   Chevrolet            Corvette      Regular   NaN
18221      Nissan               300ZX      Regular   NaN
18222      Nissan               300ZX      Regular   NaN
18223      Nissan               300ZX      Regular   NaN

In [157]:
data.drive=data.drive.fillna("unkown") #rellenamos la columna drive con "unknown"

In [158]:
#comprobamos datos para la columna trany

bad_index=data.trany[data.trany.isna()].index
bad_index[:10]

Int64Index([7138, 7139, 8143, 8144, 8146, 8147, 9212, 9213, 10329, 19097], dtype='int64')

In [159]:
data.iloc[bad_index][['make', 'model', 'fuelType', 'drive']].head(10) #trany nos da el tipo de traccion (delanteras,traseras o 4 ruedas)

         make                   model     fuelType          drive
7138   Nissan                Altra EV  Electricity         unkown
7139   Toyota                 RAV4 EV  Electricity  2-Wheel Drive
8143   Toyota                 RAV4 EV  Electricity  2-Wheel Drive
8144     Ford                   Th!nk  Electricity         unkown
8146     Ford  Explorer USPS Electric  Electricity  2-Wheel Drive
8147   Nissan              Hyper-Mini  Electricity         unkown
9212   Toyota                 RAV4 EV  Electricity  2-Wheel Drive
9213     Ford  Explorer USPS Electric  Electricity  2-Wheel Drive
10329  Toyota                 RAV4 EV  Electricity  2-Wheel Drive
19097    Ford         F150 Pickup 2WD      Regular  2-Wheel Drive

In [160]:
data.trany=data.trany.fillna("unknown") #rellenamos con unknown

In [161]:
nan_cols=data.isna().sum()
nan_cols[nan_cols>0]            #todos los nan rellenados

Series([], dtype: int64)

# Incorrect Values

In addition to null values, we also want to try to identify any values that seem incorrect. For example, in the previous section, we learned that a vehicle without cylinders should not have displacement and vice versa. Let's check to see if there are any cases that violate these rules.

In [162]:
data.shape

(37843, 70)

In [163]:
num_cyls_cero=data.cylinders[data.cylinders==0]
num_disp_cero=data.displ[data.displ==0]
len(num_cyls_cero)

123

In [164]:
len(num_disp_cero)

122

In [165]:
data.cylinders[(data.cylinders==0) & ~(data.displ==0)].index

Int64Index([21506], dtype='int64')

In [167]:
data[(data["cylinders"]==0) & (data["displ"]!=0)][['make', 'model', 'fuelType', 'drive', "cylinders", "displ", "trany"]]

        make model fuelType             drive  cylinders  displ         trany
21506  Mazda  RX-7  Regular  Rear-Wheel Drive        0.0    1.3  Manual 5-spd

Is there any row that seems to have strange values?

Yes, row 21506 has 0 cylinders but has displacement so this means that the data is wrong as cars without cylinders dont have displacements

Here we have identified a vehicle with a regular gasoline engine that reportedly does not have any cylinders but does have a value for displacement.

The way we would correct this would be to either perform some domain research or ask a domain expert to find out how many actual cylinders this vehicle had. Alternatively, you can also try to look at similar vehicles in the data set and determine the most likely value for this field.

## Check similar rows

Suppose that using one of the aforementioned methods, we found out that this vehicle actually has a 4 cylinder engine. Update that specific value in the data frame.

In [178]:

data.loc[21506,"cylinders"]=4

In [179]:
data.loc[21506,"cylinders"]

4.0

## Bonus: 
 Try to find other values that might be incorrect in the data set based on what you know about automobiles and correct them.

In [252]:
data.fuelType.unique()

['Regular', 'Premium', 'Diesel', 'CNG', 'Gasoline or natural gas', ..., 'Midgrade', 'Premium Gas or Electricity', 'Regular Gas and Electricity', 'Premium and Electricity', 'Regular Gas or Electricity']
Length: 14
Categories (14, object): ['CNG', 'Diesel', 'Electricity', 'Gasoline or E85', ..., 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity']

# Low Variance Columns

When analyzing data, we want the fields we are working with to be informative, and we will want to strip away any columns that don't have a lot of value to us. One easy way to do this is to identify columns that have low variance, where the majority of the values in the column are the same. Since there is not a lot of variability in these columns, they have the potential to not be as informative as columns that have a variety of different values in them.

Let's try to identify columns where at least 90% of the values are the same so that we can remove them from our data set. To do this, we are going to create an empty list called low_variance that will eventually contain the names of columns that fit our criteria.

We will then write a for loop that will take the minimum and the 90th percentile value for all the numeric columns in our data set (identified via the _get_numeric_data method). If the 90th percentile and the minimum are equal to each other, that means that at least 90% of the values in that column are the same and we will append that column name to our low_variance list.

In [180]:
#your code
low_variance = []

for c in data.select_dtypes(include=np.number):  
    
    minimo=data[c].min()
    
    per_90=np.percentile(data[c], 90)
    
    if per_90==minimo:
        
        low_variance.append(c)

This returned 34 columns that we could potentially eliminate due to not having high enough variability to be informative. Of course, before we do this, we should check the values that do exist in these fields to confirm that they are not very informative. Once they have been checked, we can use the the drop method like we did earlier in this lesson to remove those columns from our data frame.

## Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.

In [182]:
#eliminando constantes
cte_cols=[]

for c in data.select_dtypes(include=np.number):   # para cada columna numerica...
    
    
    if data[c].std()==0:
        cte_cols.append(c)
        
cte_cols

['charge120']

In [184]:
data=data.drop(cte_cols, axis=1)

# Extreme Values and Outliers

Now that we have removed low variance columns, we should look for outliers, or extreme values, in the columns that remain. These outliers can influence our aggregations when we are analyzing data later, so we want to make sure we address them during our data cleaning stage.

A common method for identifying outliers is one that leverages the interquartile range (IQR). Once the IQR is calculated, it is multiplied by a constant (typically 1.5) and lower and upper bounds are established at:

    25th Percentile - (IQR x 1.5)
    75th Percentile + (IQR x 1.5)

Any values outside this range are potential outliers and should be investigated.

Let's look at how we would do this for our data set using Python. We will use the Pandas describe function to easily calculate the 25th and 75th percentiles for every column and transpose the results so that we can easily reference the values in calculating the interquartile ranges.

In [186]:
#Run this code
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats.head()

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000,0.000000
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000

We will then create an empty data frame called outliers with the same columns as our data set. Finally, we will loop through each column in the data calculating the lower and upper bounds, retrieving records where the value for that column falls outside the bounds we established, and appending those results to our outlier data frame.

In [187]:
#Run this code
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    

outliers.head()

,barrels08,barrelsA08,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,...,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb,Outlier
47,32.961,0.0,0.0,9,0.0,0,0.0,0.0,0.0,0.0,...,Vans,1985,-10000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0,barrels08
58,32.961,0.0,0.0,10,0.0,0,0.0,0.0,0.0,0.0,...,Vans,1985,-10000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0,barrels08
69,32.961,0.0,0.0,10,0.0,0,0.0,0.0,0.0,0.0,...,Vans,1985,-10000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0,barrels08
80,32.961,0.0,0.0,9,0.0,0,0.0,0.0,0.0,0.0,...,Vans,1985,-10000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0,barrels08
275,32.961,0.0,0.0,9,0.0,0,0.0,0.0,0.0,0.0,...,Standard Pickup Trucks,1993,-10000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0,barrels08

Our outliers data frame should now be populated with records that you can investigate further and determine whether they should be kept in the data or dropped. The Outlier column we added before appending the results for the column to the outliers data frame will let you know what column in each record contained the outlier. If you find that this method is returning too many results, you can be more stringent with your cutoff criteria (e.g. increasing the constant by which you multiply the IQR to 3 instead of 1.5).

# Data Type Correction

One common problem that is often overlooked is incorrect data types. This typically occurs when there is a numeric variable that should actually be represented as a categorical variable.

## Check the data type of each column

In [188]:
##your code
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 69 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge240        37843 non-null  float64
 3   city08           37843 non-null  int64
 4   city08U          37843 non-null  float64
 5   cityA08          37843 non-null  int64
 6   cityA08U         37843 non-null  float64
 7   cityCD           37843 non-null  float64
 8   cityE            37843 non-null  float64
 9   cityUF           37843 non-null  float64
 10  co2              37843 non-null  int64
 11  co2A             37843 non-null  int64
 12  co2TailpipeAGpm  37843 non-null  float64
 13  co2TailpipeGpm   37843 non-null  float64
 14  comb08           37843 non-null  int64
 15  comb08U          37843 non-null  float64
 16  combA08          37843 non-null  int64
 17  combA08U         37843 non-null  float64
 18  combE            37843 non-null  float64
 19  combinedCD       37843 non-null  float64
 20  combinedUF       37843 non-null  float64
 21  cylinders        37843 non-null  float64
 22  displ            37843 non-null  float64
 23  drive            37843 non-null  object
 24  engId            37843 non-null  int64
 25  feScore          37843 non-null  int64
 26  fuelCost08       37843 non-null  int64
 27  fuelCostA08      37843 non-null  int64
 28  fuelType         37843 non-null  object
 29  fuelType1        37843 non-null  object
 30  ghgScore         37843 non-null  int64
 31  ghgScoreA        37843 non-null  int64
 32  highway08        37843 non-null  int64
 33  highway08U       37843 non-null  float64
 34  highwayA08       37843 non-null  int64
 35  highwayA08U      37843 non-null  float64
 36  highwayCD        37843 non-null  float64
 37  highwayE         37843 non-null  float64
 38  highwayUF        37843 non-null  float64
 39  hlv              37843 non-null  int64
 40  hpv              37843 non-null  int64
 41  id               37843 non-null  int64
 42  lv2              37843 non-null  int64
 43  lv4              37843 non-null  int64
 44  make             37843 non-null  object
 45  model            37843 non-null  object
 46  mpgData          37843 non-null  object
 47  phevBlended      37843 non-null  bool
 48  pv2              37843 non-null  int64
 49  pv4              37843 non-null  int64
 50  range            37843 non-null  int64
 51  rangeCity        37843 non-null  float64
 52  rangeCityA       37843 non-null  float64
 53  rangeHwy         37843 non-null  float64
 54  rangeHwyA        37843 non-null  float64
 55  trany            37843 non-null  object
 56  UCity            37843 non-null  float64
 57  UCityA           37843 non-null  float64
 58  UHighway         37843 non-null  float64
 59  UHighwayA        37843 non-null  float64
 60  VClass           37843 non-null  object
 61  year             37843 non-null  int64
 62  youSaveSpend     37843 non-null  int64
 63  charge240b       37843 non-null  float64
 64  createdOn        37843 non-null  object
 65  modifiedOn       37843 non-null  object
 66  phevCity         37843 non-null  int64
 67  phevHwy          37843 non-null  int64
 68  phevComb         37843 non-null  int64
dtypes: bool(1), float64(31), int64(27), object(10)
memory usage: 19.7+ MB

## Cleaning years
Do you think column year is a continuous variable? Would you change it onto another dtype?

In [198]:
data.year=pd.to_numeric(data.year, downcast='integer')
data.year

0        1985
1        1985
2        1985
3        1985
4        1993
         ...
37838    1993
37839    1993
37840    1993
37841    1993
37842    1993
Name: year, Length: 37843, dtype: int16

You can apply this technique to any column whose data type you would like to change.

In [203]:
data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 69 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge240        37843 non-null  float64
 3   city08           37843 non-null  int64
 4   city08U          37843 non-null  float64
 5   cityA08          37843 non-null  int64
 6   cityA08U         37843 non-null  float64
 7   cityCD           37843 non-null  float64
 8   cityE            37843 non-null  float64
 9   cityUF           37843 non-null  float64
 10  co2              37843 non-null  int64
 11  co2A             37843 non-null  int64
 12  co2TailpipeAGpm  37843 non-null  float64
 13  co2TailpipeGpm   37843 non-null  float64
 14  comb08           37843 non-null  int64
 15  comb08U          37843 non-null  float64
 16  combA08          37843 non-null  int64
 17  combA08U         37843 non-null  float64
 18  combE            37843 non-null  float64
 19  combinedCD       37843 non-null  float64
 20  combinedUF       37843 non-null  float64
 21  cylinders        37843 non-null  float64
 22  displ            37843 non-null  float64
 23  drive            37843 non-null  object
 24  engId            37843 non-null  int64
 25  feScore          37843 non-null  int64
 26  fuelCost08       37843 non-null  int64
 27  fuelCostA08      37843 non-null  int64
 28  fuelType         37843 non-null  object
 29  fuelType1        37843 non-null  object
 30  ghgScore         37843 non-null  int64
 31  ghgScoreA        37843 non-null  int64
 32  highway08        37843 non-null  int64
 33  highway08U       37843 non-null  float64
 34  highwayA08       37843 non-null  int64
 35  highwayA08U      37843 non-null  float64
 36  highwayCD        37843 non-null  float64
 37  highwayE         37843 non-null  float64
 38  highwayUF        37843 non-null  float64
 39  hlv              37843 non-null  int64
 40  hpv              37843 non-null  int64
 41  id               37843 non-null  int64
 42  lv2              37843 non-null  int64
 43  lv4              37843 non-null  int64
 44  make             37843 non-null  object
 45  model            37843 non-null  object
 46  mpgData          37843 non-null  object
 47  phevBlended      37843 non-null  bool
 48  pv2              37843 non-null  int64
 49  pv4              37843 non-null  int64
 50  range            37843 non-null  int64
 51  rangeCity        37843 non-null  float64
 52  rangeCityA       37843 non-null  float64
 53  rangeHwy         37843 non-null  float64
 54  rangeHwyA        37843 non-null  float64
 55  trany            37843 non-null  object
 56  UCity            37843 non-null  float64
 57  UCityA           37843 non-null  float64
 58  UHighway         37843 non-null  float64
 59  UHighwayA        37843 non-null  float64
 60  VClass           37843 non-null  object
 61  year             37843 non-null  int16
 62  youSaveSpend     37843 non-null  int64
 63  charge240b       37843 non-null  float64
 64  createdOn        37843 non-null  object
 65  modifiedOn       37843 non-null  object
 66  phevCity         37843 non-null  int64
 67  phevHwy          37843 non-null  int64
 68  phevComb         37843 non-null  int64
dtypes: bool(1), float64(31), int16(1), int64(26), object(10)
memory usage: 42.4 MB

In [206]:
#cambiamos los object a category
for c in data.select_dtypes('object').columns:
    
    data[c]=data[c].astype('category')
    
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 69 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge240        37843 non-null  float64
 3   city08           37843 non-null  int64
 4   city08U          37843 non-null  float64
 5   cityA08          37843 non-null  int64
 6   cityA08U         37843 non-null  float64
 7   cityCD           37843 non-null  float64
 8   cityE            37843 non-null  float64
 9   cityUF           37843 non-null  float64
 10  co2              37843 non-null  int64
 11  co2A             37843 non-null  int64
 12  co2TailpipeAGpm  37843 non-null  float64
 13  co2TailpipeGpm   37843 non-null  float64
 14  comb08           37843 non-null  int64
 15  comb08U          37843 non-null  float64
 16  combA08          37843 non-null  int64
 17  combA08U         37843 non-null  float64
 18  combE            37843 non-null  float64
 19  combinedCD       37843 non-null  float64
 20  combinedUF       37843 non-null  float64
 21  cylinders        37843 non-null  float64
 22  displ            37843 non-null  float64
 23  drive            37843 non-null  category
 24  engId            37843 non-null  int64
 25  feScore          37843 non-null  int64
 26  fuelCost08       37843 non-null  int64
 27  fuelCostA08      37843 non-null  int64
 28  fuelType         37843 non-null  category
 29  fuelType1        37843 non-null  category
 30  ghgScore         37843 non-null  int64
 31  ghgScoreA        37843 non-null  int64
 32  highway08        37843 non-null  int64
 33  highway08U       37843 non-null  float64
 34  highwayA08       37843 non-null  int64
 35  highwayA08U      37843 non-null  float64
 36  highwayCD        37843 non-null  float64
 37  highwayE         37843 non-null  float64
 38  highwayUF        37843 non-null  float64
 39  hlv              37843 non-null  int64
 40  hpv              37843 non-null  int64
 41  id               37843 non-null  int64
 42  lv2              37843 non-null  int64
 43  lv4              37843 non-null  int64
 44  make             37843 non-null  category
 45  model            37843 non-null  category
 46  mpgData          37843 non-null  category
 47  phevBlended      37843 non-null  bool
 48  pv2              37843 non-null  int64
 49  pv4              37843 non-null  int64
 50  range            37843 non-null  int64
 51  rangeCity        37843 non-null  float64
 52  rangeCityA       37843 non-null  float64
 53  rangeHwy         37843 non-null  float64
 54  rangeHwyA        37843 non-null  float64
 55  trany            37843 non-null  category
 56  UCity            37843 non-null  float64
 57  UCityA           37843 non-null  float64
 58  UHighway         37843 non-null  float64
 59  UHighwayA        37843 non-null  float64
 60  VClass           37843 non-null  category
 61  year             37843 non-null  int16
 62  youSaveSpend     37843 non-null  int64
 63  charge240b       37843 non-null  float64
 64  createdOn        37843 non-null  category
 65  modifiedOn       37843 non-null  category
 66  phevCity         37843 non-null  int64
 67  phevHwy          37843 non-null  int64
 68  phevComb         37843 non-null  int64
dtypes: bool(1), category(10), float64(31), int16(1), int64(26)
memory usage: 17.5 MB

In [207]:
#hacemos downcast a los valores numéricos

for c in data.select_dtypes('integer').columns:
    
    data[c]=pd.to_numeric(data[c], downcast='integer')
    
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 69 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge240        37843 non-null  float64
 3   city08           37843 non-null  int16
 4   city08U          37843 non-null  float64
 5   cityA08          37843 non-null  int8
 6   cityA08U         37843 non-null  float64
 7   cityCD           37843 non-null  float64
 8   cityE            37843 non-null  float64
 9   cityUF           37843 non-null  float64
 10  co2              37843 non-null  int16
 11  co2A             37843 non-null  int16
 12  co2TailpipeAGpm  37843 non-null  float64
 13  co2TailpipeGpm   37843 non-null  float64
 14  comb08           37843 non-null  int8
 15  comb08U          37843 non-null  float64
 16  combA08          37843 non-null  int8
 17  combA08U         37843 non-null  float64
 18  combE            37843 non-null  float64
 19  combinedCD       37843 non-null  float64
 20  combinedUF       37843 non-null  float64
 21  cylinders        37843 non-null  float64
 22  displ            37843 non-null  float64
 23  drive            37843 non-null  category
 24  engId            37843 non-null  int32
 25  feScore          37843 non-null  int8
 26  fuelCost08       37843 non-null  int16
 27  fuelCostA08      37843 non-null  int16
 28  fuelType         37843 non-null  category
 29  fuelType1        37843 non-null  category
 30  ghgScore         37843 non-null  int8
 31  ghgScoreA        37843 non-null  int8
 32  highway08        37843 non-null  int8
 33  highway08U       37843 non-null  float64
 34  highwayA08       37843 non-null  int8
 35  highwayA08U      37843 non-null  float64
 36  highwayCD        37843 non-null  float64
 37  highwayE         37843 non-null  float64
 38  highwayUF        37843 non-null  float64
 39  hlv              37843 non-null  int8
 40  hpv              37843 non-null  int16
 41  id               37843 non-null  int32
 42  lv2              37843 non-null  int8
 43  lv4              37843 non-null  int8
 44  make             37843 non-null  category
 45  model            37843 non-null  category
 46  mpgData          37843 non-null  category
 47  phevBlended      37843 non-null  bool
 48  pv2              37843 non-null  int16
 49  pv4              37843 non-null  int16
 50  range            37843 non-null  int16
 51  rangeCity        37843 non-null  float64
 52  rangeCityA       37843 non-null  float64
 53  rangeHwy         37843 non-null  float64
 54  rangeHwyA        37843 non-null  float64
 55  trany            37843 non-null  category
 56  UCity            37843 non-null  float64
 57  UCityA           37843 non-null  float64
 58  UHighway         37843 non-null  float64
 59  UHighwayA        37843 non-null  float64
 60  VClass           37843 non-null  category
 61  year             37843 non-null  int16
 62  youSaveSpend     37843 non-null  int16
 63  charge240b       37843 non-null  float64
 64  createdOn        37843 non-null  category
 65  modifiedOn       37843 non-null  category
 66  phevCity         37843 non-null  int8
 67  phevHwy          37843 non-null  int8
 68  phevComb         37843 non-null  int8
dtypes: bool(1), category(10), float64(31), int16(11), int32(2), int8(14)
memory usage: 11.5 MB

# Cleaning Text and Removing Special Characters

The presence of special characters in our fields has the potential to make analyzing our data challenging. Imagine not being able to perform calculations on a numeric field because it was currently represented as an object data type due to the fact that it had a dollar sign ($) in it. 

Similarly, imagine having a categorical field where you could not group records that belong in the same group together because in one field you are grouping by, terms that refer to the same thing are sometimes hyphenated. In cases like this, it is necessary to remove special characters so that we can properly analyze the data.

In our vehicles data set, the trany field has several special characters (parentheses, hyphens, etc.). Check the unique values and clean the column.

hint: check the `replace` function

In [210]:
data.trany.value_counts()

Automatic 4-spd                     11042
Manual 5-spd                         8311
Automatic 3-spd                      3151
Automatic (S6)                       2638
Manual 6-spd                         2429
Automatic 5-spd                      2184
Manual 4-spd                         1483
Automatic 6-spd                      1432
Automatic (S8)                        960
Automatic (S5)                        824
Automatic (variable gear ratios)      681
Automatic 7-spd                       663
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        233
Auto(AM7)                             160
Auto(AV-S6)                           145
Auto(AM6)                             110
Automatic (A1)                        109
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           77
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Manual 4-spd Doubled                   17
Auto(AM5)                              12
unknown                                11
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Manual(M7)                              3
Auto(L3)                                2
Auto (AV)                               2
Auto(L4)                                2
Automatic (AM5)                         2
Auto(AM-S9)                             1
Manual 5 spd                            1
Automatic 6spd                          1
Auto(A1)                                1
Auto (AV-S8)                            1
Automatic (AM6)                         1
Auto (AV-S6)                            1
Name: trany, dtype: int64

In [215]:
data.trany=data.trany.str.replace('-', '')   # limpieza de strings en una serie
data.trany=data.trany.str.replace('Automatic', 'Auto')
data.trany=data.trany.str.replace('Auto\(', 'Auto')
data.trany=data.trany.str.replace('Manual\(', 'Manual')  # el \ es espacio o no espacio
data.trany=data.trany.str.replace('\(', '')
data.trany=data.trany.str.replace('\)', '')

/var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/ipykernel_79752/1843120003.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data.trany=data.trany.str.replace('Auto\(', 'Auto')
/var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/ipykernel_79752/1843120003.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data.trany=data.trany.str.replace('Manual\(', 'Manual')  # el \ es espacio o no espacio
/var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/ipykernel_79752/1843120003.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  data.trany=data.trany.str.replace('\(', '')
/var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/ipykernel_79752/1843120003.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  data.trany=data.trany.str.replace('\)', '')

In [216]:
data.trany.value_counts()

Auto 4spd                    11042
Manual 5spd                   8311
Auto 3spd                     3151
Auto S6                       2638
Manual 6spd                   2429
Auto 5spd                     2184
Manual 4spd                   1483
Auto 6spd                     1433
Auto S8                        960
Auto S5                        824
Auto variable gear ratios      681
Auto 7spd                      663
Auto S7                        261
AutoAMS7                       256
Auto 8spd                      243
Auto S4                        233
AutoAM7                        160
AutoAVS6                       145
AutoAM6                        110
Auto A1                        109
AutoAMS6                        92
Auto 9spd                       90
Manual 3spd                     77
Manual 7spd                     68
AutoAVS7                        63
Auto S9                         26
AutoAVS8                        26
Manual 4spd Doubled             17
AutoAM5                         12
unknown                         11
Auto AVS6                       10
Auto AV                          6
AutoAMS8                         6
AutoAM8                          5
Auto A6                          4
ManualM7                         3
AutoL3                           2
AutoL4                           2
Auto AM5                         2
Auto AVS8                        1
Auto AM6                         1
Manual 5 spd                     1
AutoA1                           1
AutoAMS9                         1
Name: trany, dtype: int64

In [225]:
import re

In [231]:
data["speeds"]=data.trany.str.contains("\d",regex=True)

In [219]:
data.speeds

0        True
1        True
2        True
3        True
4        True
         ...
37838    True
37839    True
37840    True
37841    True
37842    True
Name: speeds, Length: 37843, dtype: bool

As you can see, we now have no special characters, consistent naming, and proper spacing. We started out with 47 unique values in this column, and using this technique, we were able to reduce the number of unique values to 39.



# Finding and Removing Duplicates

The final topic we are going to cover in this lab is how to identify and remove duplicate rows (or rows that refer to the same entity) in our data. When trying to identify duplicates, we will use the columns (or attributes) of the data to help us determine what entities are similar enough to be considered the same entity. We want to start with all the columns we currently have available to us and work our way toward a lesser number of attributes in an intuitive fashion. In this process, the act of dropping duplicated records is easy, but identifying the correct attributes for comparison and which records to drop is sometimes quite challenging.

The first thing we will do is attempt to drop any duplicate records, considering all the columns we currently have in the data set. 

Pandas provides us with the ability to do that via the `drop_duplicates method`.

## Drop duplicate rows that are completely equal

In [194]:
len(data.drop_duplicates())==len(data)
 #no hay duplicados

True

This tells us that there were no records that matched exactly across all columns. However, if we reduce the number of columns in our data that we are interested in, we can try again and have a higher likelihood of finding duplicate records.

## Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.

In [237]:
data[['make', 'model', 'fuelType', 'drive', "cylinders", "displ", "trany"]].head()
len(data[['make', 'model', 'fuelType', 'drive', "cylinders", "displ", "trany"]].drop_duplicates())==len(data)
data.shape
data_new=data[['make', 'model', 'fuelType', 'drive', "cylinders", "displ", "trany"]].drop_duplicates()

In [243]:
data.shape

(37843, 70)

With the reduced number of columns, we were able to identify and drop 885 duplicate records.

In [239]:
data_new.shape

(11751, 7)

In [244]:
data[['make', 'model', 'fuelType', 'drive', "cylinders", "displ", "trany"]].drop_duplicates(inplace=True)

/Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

# Export clean dataset
Export your bright new clean dataset into a csv file and store it in data folder.

In [249]:
data.to_csv("../data/clean_data.csv", index=False)

In [245]:
%pwd

'/Users/danigomezlechonbarrachina/Desktop/Labs/2.4-lab-data-cleaning/your-code'